<div class='row'>
	<div class='col-xs-3'>
		<h4>My Restaurant</h4>
		<address>
			57/10 Nguyễn Thị Nhỏ
			phường 9
			Tân Bình
			Hồ Chí Minh
			Vietnam
			+84 123456789<br>
			Open: 7:30AM–10:30PM
		</address>
	</div>
	<div class='col-xs-9'>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.552294277981!2d106.65009331427689!3d10.76894626227776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752e95494f73c5%3A0x44a3d8350c50a475!2zNTcvMTAgTmd1eeG7hW4gVGjhu4sgTmjhu48sIHBoxrDhu51uZyA5LCBUw6JuIELDrG5oLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1476613132780" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>	
</div>



